<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="container">
    <form class="form-horizontal" role="form" method="POST" action="/register">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Registro</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Nombres</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" [(ngModel)]="pers.pers_nom" name="pers_nom" class="form-control" id="name" placeholder="Apellidos y Nombres" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">Correo Electrónico</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" [(ngModel)]="pers.pers_cor_ele" name="pers_cor_ele" class="form-control" id="email" placeholder="you@email.com" required autofocus>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Contraseña</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" [(ngModel)]="pers.pers_cla" name="pers_cla" class="form-control" id="password" placeholder="Ingrese su contraseña" required>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <i class="fa fa-close"> Example Error Message</i>
                        </span>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Confirmar contraseña</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                          <i class="fas fa-redo"></i>
                        </div>
                        <input type="password" name="password-confirmation" class="form-control" id="password-confirm" placeholder="Confirmar contraseña" required>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success" routerLink="/login" (click)="post(pers)"><i class="fa fa-user-plus"></i>Registrar</button>
            </div>
        </div>
    </form>
</div>

<br>


 <table class="table table-striped table-dark table-hover">
    <thead>
    <tr>
        <td>APELLIDOS Y NOMBRES</td>
        <td>CORREO ELECTRONICO</td>
        <td>CLAVE</td>
        <td></td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let pers of data">
            <td>{{ pers.pers_nom }}</td>
            <td>{{ pers.pers_cor_ele }}</td>
            <td>{{ pers.pers_cla }}</td>
            <td>
                <button class="btn btn-primary"><i class="fas fa-edit"></i></button> &nbsp;
                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </td>

        </tr>
    </tbody>
  </table>