<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
    <div class="login-main-text">
        <h2>Iniciar Sesión</h2>
        <p>Ingresar o Registrarse aquí para acceder.</p>
    </div>
</div>

<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">                    
                    <input type="text" class="form-control" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <button class="btn btn1" type="submit" routerLink="/home">Ingresar</button>
                <button class="btn btn2" type="submit" routerLink="/register">Registrarse</button>
            </form>
        </div>
    </div>
</div>